*{
	padding: 0;
	margin: 0;
	/*font-family: "微软雅黑";*/
}
.nav{
	height: 50px;
}
/*.nav ul ::after{
	content: '';
	clear: both;
	display: bloak;
}*/
.nav ul{
	margin-right: 10px;
	float: right;
	width: 495px;
	list-style: none;
}
.nav ul li{
	margin-top: 5px;
	float:right;
	
}
.nav ul li a{
	color: #333;
	font-size: 13px;
	font-weight: 700;
	
	margin-left: 20px;
	line-height: 50px;
}
.nav ul li a:hover{
	color: #00c;
}
.nav .nav-one{
	padding: 5px;
	color: #fff;
	font-weight: normal;
	text-decoration: none;
	width: 90px;
	background-color: #38f;
}
.nav .nav-two{
	font-weight: normal;
}
/* search style*/
.search{
	/*border: 1px solid #f40;*/
	/*margin-top: 40px;*/
}
.search .search-img{
	
	height: 129px;
	width: 270px;
	margin: 0 auto;
}
.search .search-img img{
	height: 129px;
	width: 270px;
}
.search .search-form{
	/*border: 1px solid #000;*/
	position: relative;
	margin: 30px auto;
	width: 641px;
	height: 40px;
}
.search .search-form .text{
	display: inline-block;
	width: 540px;
	height: 36px;
}
.search .search-form .button{
	position: absolute;
	right: 0;
	width: 100px;
	height: 40px;
	background-color: #38f;
	border: none;
}
/* bottom style*/
.bottom{
	margin-top: 180px;
}
.bottom .bottom-code{
	position: relative;
	width: 60px;
	height: 80px;
	margin: 0 auto;
}
.bottom .bottom-code img{
	width: 60px;
	height: 60px;
}
.bottom .bottom-code .bottom-code-span{
	color: #666;
	font-weight: 700;
	position: absolute;
	left: 50%;
	margin-left: -17px;

}
.bottom .bottom-first-message{
	/*border: 1px solid #f40;*/
	width: 370px;
	margin: 20px auto;
}
.bottom .bottom-first-message span a{
	color: #999;
	font-size: 12px;
	height: 15px;
	margin-left: 20px;
	
}
.bottom .bottom-second-message{
	
	position: relative;
	width: 510px;
	margin: 0 auto;
	margin-top: -10px;
	font-size: 12px;
	color: #999;
}
.bottom .bottom-second-message a{
	color: #999;
}
.bottom .bottom-second-message span{
	background-image: url(img/ico.png);
	top: -2px;
}
.bottom .bottom-second-message .span1{
	position: absolute;
	/*top: 4px;*/
	display: inline-block;
	width: 14px;
	height: 17px;
	
	background-position: -600px -96px;
	/*background-image: url(img/ico.png);*/
}
.bottom .bottom-second-message .span2{
	position: absolute;

	margin-left: 5px;
	display: inline-block;
	width: 14px;
	height: 17px;
	background-position: -623px -96px;
}